:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    height: 100vh;
    margin: 0;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px); 
    gap: 2px;
    margin-bottom: 20px;
}

.board .cell {
    background-color: #b3d4fc;
    border: 1px solid #0077cc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

.board .cell.illegal {
    background-color: #ff9999;
}

.board .cell.ship {
    background-color: #0077cc;
}

.msg {
    font-size: 18px;
    margin-bottom: 10px;
}

.msg.error {
    color: red;
}
