<div id="board">
    <ng-container *ngFor="let row of myBoard; index as i">
        <div 
        *ngFor="let cell of row; index as j" 
        class="cell" 
        [class.illegal] = "error[i][j] == 'illegal'"
        [class.ship] = "shipsBoard[i][j] == 'ship'"
        id="cell{{i}}{{j}}" 
        (click)="place(i, j)">
            {{cell | field}}
        </div>
    </ng-container>
</div>
<div id="board">
    <ng-container *ngFor="let row of opponentBoard; index as i">
        <div 
        *ngFor="let cell of row; index as j" 
        class="cell" 
        [class.illegal] = "error[i][j] == 'illegal'"
        id="cell{{i}}{{j}}" 
        (click)="move(i, j)">
            {{cell | field}}
        </div>
    </ng-container>
</div>
<div class="msg" *ngIf="finished">{{msg}}</div>
<div class="msg error" *ngIf="errorMsg">{{msg}}</div>

<button *ngIf="game && !game.gameStarted" (click)="sendPlacement()">Finish placement</button>
