:host {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

button {
    background-color: #0077cc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005faa;
}

.separator {
    color: #0077cc;
    margin: 0 10px;
}